<div class="modal fade" id="add-client">
    <div class="modal-dialog">
      <div class="modal-content bg">
        <div class="modal-header">
          <h4 class="modal-title">Penambahan Pelanggan <span id="manageclienttitle"></span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
              <div class="card card-primary">
                  <div class="card-body">
                      <div class="form-group">
                          <label for="notelp">Pelanggan</label>
                          <select name="client" id="cmbClient"></select>
                      </div>
                      <div class="form-group">
                        <label for="nama">Alamat</label>
                        <select name="cmbSite" id="cmbSite"></select>
                    </div>
              </div>
              </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveClient">Simpan</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
