<div class="form-group bc_maintenance allcategory">
    <label>Waktu</label>
    <input type="text" id="tpl1var1"/>
    </select>
  </div>
  <div class="form-group bc_maintenance allcategory">
    <label>Durasi Down</label>
    <input type="text" id="tpl1var2"/>
    </select>
  </div>
  <div class="form-group bc_maintenance allcategory">
    <label>Aktifitas</label>
    <input type="text" id="tpl1var3"/>
    </select>
  </div>
  <div class="form-group bc_maintenance allcategory">
    <label>Header</label>
    <input type="text" id="tpl1var4"/>
    </select>
  </div>
