<div class="form-group bcnotifikasipenyelesaiangangguanv220230216 allcategory">
  <label>Header</label>
  <input type="text" id="hdr220230216"/>
</div>
<div class="form-group allcategory bcnotifikasipenyelesaiangangguanv220230216" >
  <label>Waktu</label>
  <input type="text" id="rentangwaktu88508"/>
</div>
<div class="form-group bcnotifikasipenyelesaiangangguanv220230216 allcategory">
  <label>Durasi Down</label>
  <input type="text" id="durasidown88508"/> (Untuk dikirim ke pelanggan)
</div>
<div class="form-group bcnotifikasipenyelesaiangangguanv220230216 allcategory">
  <label>Durasi Down</label>
  <input type="number" id="durasidowninternal88508"/> (Untuk kalkulasi internal)
</div>
<div class="form-group bcnotifikasipenyelesaiangangguanv220230216 allcategory">
  <label>Penyebab</label>
  <input type="text" id="penyebab88508"/>
</div>
<div class="form-group bcnotifikasipenyelesaiangangguanv220230216 allcategory">
  <label>Aktifitas</label>
  <input type="text" id="aktifitas88508"/>
</div>
