  <div class="form-group bc_selesaimaintenance allcategory">
    <label>Header var</label>
    <input type="text" id="tpl2var4"/>
    </select>
  </div>
  <div class="form-group bc_selesaimaintenance allcategory">
    <label>Waktu</label>
    <input type="text" id="tpl2var1"/>
    </select>
  </div>
  <div class="form-group bc_selesaimaintenance allcategory">
    <label>Durasi down</label>
    <input type="text" id="tpl2var2"/>
    </select>
  </div>
  <div class="form-group bc_selesaimaintenance allcategory">
    <label>Aktifitas</label>
    <input type="text" id="tpl2var3"/>
    </select>
  </div>
