  <div class="form-group notifikasi_selesai_maintenance allcategory">
    <label>Header</label>
    <input type="text" id="tpl7var1"/>
    </select>
  </div>
  <div class="form-group notifikasi_selesai_maintenance allcategory">
    <label>Hari / Tanggal</label>
    <input type="text" id="tpl7var2"/>
    </select>
  </div>
  <div class="form-group notifikasi_selesai_maintenance allcategory">
    <label>Jam</label>
    <input type="text" id="tpl7var3"/>
    </select>
  </div>
  <div class="form-group notifikasi_selesai_maintenance allcategory">
    <label>Durasi Downtime</label>
    <input type="text" id="tpl7var4"/>
    </select>
  </div>
  <div class="form-group notifikasi_selesai_maintenance allcategory">
    <label>Aktifitas</label>
    <input type="text" id="tpl7var5"/>
    </select>
  </div>
  <div class="form-group notifikasi_selesai_maintenance allcategory">
    <label>Maintenance Status</label>
    <input type="text" id="tpl7var6"/>
    </select>
  </div>
