<div class="form-group notifikasi_gangguan allcategory">
    <label>Start Problem</label>
    <input type="text" id="tpl4var1"/>
    </select>
  </div>
  <div class="form-group notifikasi_gangguan allcategory">
    <label>Jenis Gangguan</label>
    <input type="text" id="tpl4var2"/>
    </select>
  </div>
  <div class="form-group notifikasi_gangguan allcategory">
    <label>Penyebab</label>
    <input type="text" id="tpl4var3"/>
    </select>
  </div>
  <div class="form-group notifikasi_gangguan allcategory">
    <label>Header</label>
    <input type="text" id="tpl4var4"/>
    </select>
  </div>
