  <div class="form-group notifikasi_maintenance allcategory">
    <label>Header</label>
    <input type="text" id="tpl8var1"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance allcategory">
    <label>Hari / Tanggal</label>
    <input type="text" id="tpl8var2"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance allcategory">
    <label>Jam</label>
    <input type="text" id="tpl8var3"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance allcategory">
    <label>Aktifitas</label>
    <input type="text" id="tpl8var4"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance allcategory">
    <label>Prioritas</label>
    <input type="text" id="tpl8var5"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance allcategory">
    <label>Impact</label>
    <input type="text" id="tpl8var6"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance allcategory">
    <label>Durasi Downtime</label>
    <input type="text" id="tpl8var7"/>
    </select>
  </div>
