  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Header</label>
    <input type="text" id="tpl5var1"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Waktu Gangguan</label>
    <input type="text" id="tpl5var2"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Problem</label>
    <input type="text" id="tpl5var3"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Start Problem</label>
    <input type="text" id="tpl5var4"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>End Problem</label>
    <input type="text" id="tpl5var5"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Durasi Downtime</label>
    <input type="text" id="tpl5var6"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Penyebab</label>
    <input type="text" id="tpl5var7"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Action</label>
    <input type="text" id="tpl5var8"/>
    </select>
  </div>
  <div class="form-group notifikasi_penyelesaian_gangguan allcategory">
    <label>Status</label>
    <input type="text" id="tpl5var9"/>
    </select>
  </div>
