<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Header</label>
  <input type="text" id="tpl10var0" class="form-control"/>
</div>
<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Start</label>
  <input type="text" id="tpl10var1" class="form-control"/>
</div>
<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>End</label>
  <input type="text" id="tpl10var2" class="form-control"/>
</div>
<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Durasi Down (dalam menit)</label>
  <input type="text" id="tpl10var3" class="form-control"/><!--- next type jadi number--->>
</div>
<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Penyebab</label>
  <input type="text" id="tpl10var4" class="form-control"/>
</div>
<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Action</label>
  <textarea name="tpl10var5" id="tpl10var5" cols="30" rows="5" class="form-control"></textarea>
</div>
<!--<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Nama Pelanggan</label>
  <input type="text" id="tpl10var6"/>
</div>
<div class="form-group notifikasi_penyelesaian_gangguan20221013 allcategory">
  <label>Lokasi</label>
  <input type="text" id="tpl10var7"/>
</div>-->
