<div class="form-group notifikasi_maintenance_rev2 allcategory">
    <label>Hari & Tanggal</label>
    <input type="text" id="tpl3var1"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance_rev2 allcategory">
    <label>Jam</label>
    <input type="text" id="tpl3var2"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance_rev2 allcategory">
    <label>Aktifitas</label>
    <input type="text" id="tpl3var3"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance_rev2 allcategory">
    <label>Prioritas</label>
    <input type="text" id="tpl3var4"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance_rev2 allcategory">
    <label>Dampak</label>
    <input type="text" id="tpl3var5"/>
    </select>
  </div>
  <div class="form-group notifikasi_maintenance_rev2 allcategory">
    <label>Header</label>
    <input type="text" id="tpl3var6"/>
    </select>
  </div>
