<div class="form-group notifikasi_maintenance20221013 allcategory">
  <label>Header</label>
  <input type="text" id="tpl11var0" class="form-control"/>
</div>
<div class="form-group notifikasi_maintenance20221013 allcategory">
  <label>waktu</label>
  <input type="text" id="tpl11var1" class="form-control"/>
</div>
<div class="form-group notifikasi_maintenance20221013 allcategory">
  <label>Aktivitas</label>
  <input type="text" id="tpl11var2" class="form-control"/>
</div>
<div class="form-group notifikasi_maintenance20221013 allcategory">
  <label>Keterangan</label>
  <textarea name="tpl11var3" id="tpl11var3" cols="30" rows="5" class="form-control"></textarea>
</div>
<!--<div class="form-group notifikasi_maintenance20221013 allcategory">
  <label>Nama Pelanggan</label>
  <input type="text" id="tpl11var4"/>
</div>
<div class="form-group notifikasi_maintenance20221013 allcategory">
  <label>Lokasi</label>
  <input type="text" id="tpl11var5"/>
</div>-->
