<div class="form-group notifikasi_update_gangguan20221013 allcategory">
  <label>Header</label>
  <input type="text" id="tpl13var0" class="form-control">
</div>
<div class="form-group notifikasi_update_gangguan20221013 allcategory">
  <label>Update Penanganan</label>
  <textarea name="tpl13var1" id="tpl13var1" cols="30" rows="5" class="form-control"></textarea>
</div>

