  <div class="form-group update_gangguan allcategory">
    <label>Header</label>
    <input type="text" id="tpl6var1"/>
    </select>
  </div>
  <div class="form-group update_gangguan allcategory">
    <label>Variable</label>
    <input type="text" id="tpl6var2"/>
    </select>
  </div>
