<div class="modal fade" id="add-client">
  <div class="modal-dialog">
    <div class="modal-content bg">
      <div class="modal-header">
        <h4 class="modal-title">Penambahan Pelanggan <span id="modalAddClient"></span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-body">
                <div class="form-group">
                    <label for="notelp">Nama</label>
                    <input type="text"  class="form-control" id="addClientName"/>
                </div>
                <div class="form-group">
                  <label for="notelp">ID Lokasi</label>
                  <input type="text"  class="form-control" id="addClientLocationID"/>
                </div>
                <div class="form-group">
                  <label for="notelp">Lokasi</label>
                  <input type="text"  class="form-control" id="addClientAddress"/>
                </div>
                <div class="form-group">
                  <label for="notelp">PIC</label>
                  <input type="text"  class="form-control" id="addClientPicName"/>
                </div>
                <div class="form-group">
                  <label for="notelp">WA</label>
                  <input type="text"  class="form-control" id="addClientPicWa"/>
                </div>
                <div class="form-group">
                  <label for="nama">Keterangan</label>
                  <input type="text"  class="form-control" id="addClientDescription"/>
                </div>
                <div class="form-group">
                  <label for="nama">No FB</label>
                  <input type="text"  class="form-control" id="addClientFB"/>
                </div>
                <div class="form-group">
                  <label for="nama">Network</label>
                  <select name="addNetwork" class="form-control" id="addNetwork">
                    <option value="SBY">Surabaya</option>
                    <option value="JKT">Jakarta</option>
                    <option value="MLG">Malang</option>
                    <option value="BALI">Bali</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveClient">Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
