<div class="modal fade" id="confirmation-add-messagecategory">
    <div class="modal-dialog">
      <div class="modal-content bg">
        <div class="modal-header">
          <h4 class="modal-title">Lihat Telepon Kontak <span id="showcontacttitle"></span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modalinfo"></p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnConfirmYes">Ya</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnConfirmNo">Tidak</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  
  <div class="modal fade" id="confirmation-invalid">
    <div class="modal-dialog">
      <div class="modal-content bg">
        <div class="modal-header">
          <h4 class="modal-title">Warning</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Nama Kategori tidak boleh kosong</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  