<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <base href="/">

    <!-- Google Font: Source Sans Pro -->
    <link href="/assets/plugins/fontawesome-free/css/fonts.google.apis.css" />
    <!-- Font Awesome -->
    <link href="/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <style>
    .breadcrumb-itemx+.breadcrumb-itemx::before {
      float: left;
      padding-right: 0.5rem;
      color: #6c757d;
      content: " . ";
  }
  .dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
  }
  .pagename{
    color:gold;
    font-weight: 900;
    text-decoration: underline;
  }
  #divbcc{
    padding: 5px;
  }
  #divbcc button.left{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #divbcc button.right{
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  </style>
  </head>
