<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" style="color: blue;font-weight:bold">
        <%= email %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout" role="button" style="color:red">
            Logout
        </a>
    </li>
</ul>
