<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a href="/categories" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Kategori
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/clients" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Pelanggan
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/hierarchicalhsm" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Pengiriman
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/viewlog" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Lihat Log
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/viewclientlog" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Lihat Log Pengiriman Per Pelanggan
          </p>
        </a>
      </li>

    </ul>
  </nav>
