<div class="col-md-6">
<div class="card card-secondary">
    <div class="card-header">
    <h3 class="card-title">Template</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
        </button>
    </div>
    </div>
    <div class="card-body">
    <div class="form-group">
        <label for="inputStatus">Pemilihan Template</label>
        <select id="inputStatus" class="form-control custom-select">
        <option selected disabled>Pilih Template</option>
        <option value="1">Maintenance</option>
        <option value="2">Maintenance Selesai</option>
        <option value="3">Gangguan</option>
        <option value="4">Gangguan Update</option>
        <option value="5">Gangguan Selesai</option>
        </select>
    </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
</div>
