<div class="card">
    <div class="card-header">
      <h3 class="card-title">Kategori</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <H4>STRUKTUR KATEGORI</H4>
        <p>Struktur Kategori terdiri atas Field berikut:</p>
        <ul>
            <li>id (integer)</li>
            <li>name (text)</li>
            <li>description (text)</li>
            <li>createdate (time)</li>
        </ul>
      <H4>MEMBUAT KATEGORI BARU</H4>

      <H4>EDIT KATEGORI</H4>

      <H4>MENGHAPUS KATEGORI</H4>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      AKHIR DOKUMENTASI KATEGORI
    </div>
    <!-- /.card-footer-->
  </div>
