<div class="card">
    <div class="card-header">
      <h3 class="card-title">Pelanggan</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <H4>STRUKTUR PELANGGAN</H4>
        <p>Struktur Pelanggan terdiri atas Field berikut:</p>
        <ul>
            <li>id (integer)</li>
            <li>location_id (alphanumeric)</li>
            <li>address (text)</li>
            <li>picname (text)</li>
            <li>picwa (text)</li>
            <li>description (text)</li>
            <li>kdfb (text)</li>
            <li>createdate (time)</li>
        </ul>
      <H4>MEMBUAT PELANGGAN BARU</H4>
        <p>Pada halaman Pelanggan, tekan tombol <i>Penambahan</i> </p>
        <p>Pada Popup, Isilah Nama Pelanggan, ID Lokasi, Lokasi, PIC, WA, Keterangan, Serta No FB. Jika sudah selesai, tekan tombol <i>Simpan</i> untuk menyimpan, atau tombol <i>Tutup</i> untuk membatalkan</p>
      <H4>EDIT PELANGGAN</H4>
      <p>Pada halaman Pelanggan, di sub menu Edit (di baris pelanggan) tekan tombol <i>Edit</i> </p>
      <p>Pada Popup, Ubahlah Nama Pelanggan, ID Lokasi, Lokasi, PIC, WA, Keterangan, Serta No FB yang diperlukan. Jika sudah selesai, tekan tombol <i>Simpan</i> untuk menyimpan, atau tombol <i>Tutup</i> untuk membatalkan</p>

      <H4>MENGHAPUS PELANGGAN</H4>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      AKHIR DOKUMENTASI PELANGGAN
    </div>
    <!-- /.card-footer-->
  </div>
